{% extends "base.html" %}
{% block mainContent %}
<div class="container mt-5">
    <h2>Add New Classroom</h2>
    <form action="/crud/add-discipline" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome da Disciplina</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="name_abbr" class="form-label">Nome Abreviado</label>
            <input type="text" class="form-control" id="name_abbr" name="name_abbr" required>
            <label for="code" class="form-label">Código da Disciplina</label>
            <input type="text" class="form-control" id="code" name="code" required>
            <label for="workload" class="form-label">Carga Horária</label>
            <input type="number" class="form-control" id="workload" name="workload" required>
            <label for="is_theoretical" class="form-label">Teórica</label>
            <input type="number" class="form-control" id="is_theoretical" name="is_theoretical">
            <label for="is_intensive" class="form-label">Intensiva</label>
            <input type="number" class="form-control" id="is_intensive" name="is_intensive">
            <label for="classroom" class="form-label">Sala de aula</label>
            <input type="number" class="form-control" id="classroom" name="classroom">
        </div>
        <button type="submit" class="btn btn-primary">Add Discipline</button>
    </form>
</div>
{% endblock %}