{% extends "base.html" %}
{% block mainContent %}
<div class="container mt-5">
    <h2>Add New User</h2>
    <form action="/crud/add-teacher" method="post">
        <div class="mb-3">
            <label for="userName" class="form-label">Nome do Usuário</label>
            <input type="text" class="form-control" id="userName" name="userName" required>

            <label for="password" class="form-label">Senha</label>
            <input type="text" class="form-control" id="password" name="password" required>

            <label for="confirmation" class="form-label">Confirmação da Senha</label>
            <input type="text" class="form-control" id="confirmation" name="confirmation" required>
        </div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</div>
{% endblock %}
