{% extends "base.html" %}

{% block head_links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block mainContent %}
<div class="dashboard" style="display: flex; flex-direction: column; gap: 20px;">
    <div class="section" id="search-discipline-section">
        <h2>Editar Disciplinas</h2>
        <div>
            <!-- Dropdown menus -->
            <select id="discipline-category" style="width: 10%;">
                {% for area in areas %}
                    <option value="{{ area.id }}">{{ area.number }}</option>
                {% endfor %}
            </select>

            <select id="discipline-list" style="width: 45%;">
                {% for disc in initial_disciplines %}
                    <option value="{{ disc.id }}">{{ disc.code }} - {{ disc.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="section" id="discipline-info-section" style="display: none;">
        <h2>Informações da Disciplina</h2>
        <div id="discipline-info">
            <table id="modules-table" style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Professor 1</th>
                        <th>Professor 2</th>
                        <th>Professor 3</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here -->
                </tbody>
            </table>
            <button id="apply-changes" style="margin-top: 20px;">Aplicar Alterações</button>
        </div>
    </div>
</div>

<script src="{{ url_for('crud.static', filename='scripts/disciplines.js') }}"></script>
{% endblock %}
