* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.form-select {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 20px;
}

.option {
    padding: 10px;
}

#reportContainer {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.table-header {
    font-size: 26px;
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

td {
    background-color: #fff;
}

.cell-normal {
    padding: 10px 20px;
}

.cell-name {
    display: flex;
    justify-content: left;
    padding: 10px 60px 10px 10px;
}

.cell-overwork {
    color: red;
    font-weight: bolder;
}

td:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .cell-name {
        padding-right: 10px;
    }

    .cell-normal {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-select {
        width: 80%; 
    }
}

@media print {
    .form-select {
        display: none;
    }
}
