{% extends 'base.html' %}

{% block head_links %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block mainContent %}
<main class="login-container">
    <form id="login" method="POST" action="">
        {{ form.hidden_tag() }}
        <h2>Login</h2>
        {{ form.name(id="name", placeholder="Nome", autofocus=True, class="form-input") }}
        {{ form.password(id="password", placeholder="Senha", class="form-input") }}
        {{ form.submit(class="button") }}
    </form>
</main>
{% endblock %}
